@keyframes opacity {
  from {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  8% {
    opacity: 1;
  }

  92% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide {
  from {
    left: 100%;
  }

  5% {
    left: 100%;
  }

  8% {
    left: 0%;
  }

  92% {
    left: 0%;
  }

  95% {
    left: -100%;
  }

  to {
    left: -100%;
  }
}

.slideshow, .slideshow > .image {
  height: 100vh;
}

.slideshow, .slideshow > div {
  width: 100vw;
}

.slideshow > .text, .slideshow > .title {
  color: white;
  text-align: center;
}

.slideshow {
  background: black;
  overflow: hidden;
  position: relative;
}

.slideshow > .image {
  display: flex;
  perspective: 1000px;
}

.slideshow > .image > img {
  border: 5px solid black;
  margin: auto;
  max-height: 80%;
  transition: transform 10s;
}

.slideshow > .image[animate='1'] {
  animation: opacity 30s ease infinite;
}

.slideshow > .text {
  bottom: 10px;
  font: bold 27px 'lucida grande', sans-serif;
}

.slideshow > .title {
  font: bold 128px cantarell, sans-serif;
  text-shadow: 0 0 10px black;
  top: 60px;
}

.slideshow > .title > span {
  display: inline-block;
}

.slideshow > .title > span::first-letter {
  color: #c60e22;
}

.slideshow > div {
  position: absolute;
}
