{% with code=object.get_code_configparser %}
  <div class="stream">
    <div class="panel">
      <div class="chats"></div>
      <div class="controls">
        {% for k, v in code.items %}
          {% if k == "gc" %}
            <a class="chat" href="https://goodgame.ru/chat/{{ v }}">{{ k }}</a>
          {% elif k == "gp" %}
            <a class="player" href="https://goodgame.ru/player?{{ v }}">{{ k }}</a>
          {% elif k == "i" %}
            <a class="image" href="{{ v }}">{{ k }}</a>
          {% elif k == "mc" %}
            <a class="chat" href="{{ v }}">{{ k }}</a>
          {% elif k == "sc" %}
            <a class="chat" href="https://sc2tv.ru/{{ v }}/chat">{{ k }}</a>
          {% elif k == "tc" %}
            <a class="chat" href="https://www.twitch.tv/embed/{{ v }}/chat?parent=localhost">{{ k }}</a>
          {% elif k == "tp" %}
            <a class="player" href="https://player.twitch.tv/?channel={{ v }}&parent=localhost">{{ k }}</a>
          {% endif %}
        {% endfor %}
        <i id="chat" class="material-icons" title="Показать, скрыть панель">chat</i>
        <i id="fullscreen" class="material-icons" title="Полноэкранный режим (f)">fullscreen</i>
      </div>
    </div>
  </div>
{% endwith %}
